<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User</title></head>
<body>
<h2>User page</h2>
<table th:border="1" th:cellpadding="5">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    <tr>
        <td th:text="${user.username}">name</td>
        <td th:text="${user.email}">email</td>
        <td th:each="role: ${user.roles}" th:text="${role.name.replace('ROLE_', '')}">role</td>
    </tr>
</table>
<br/>
<form th:action="@{/logout}" method="get"><input type="submit" value="Logout"/></form>
</body>
</html>